body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  flex: 1 1 auto;
  -webkit-user-select: 'none';
  -webkit-touch-callout: 'none';
}

.leaflet-tooltip-pane {
  -webkit-user-select: 'auto';
  -webkit-touch-callout: 'default';
}

.leaflet-popup-content {
	margin: 0;
}

.leaflet-popup-content-wrapper {
	border-radius: 3px;
  padding: 0;
}
